@font-face {
  font-family: 'roboto';
  src: url('../fonts/Roboto-Thin.ttf') format('ttf');
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-FEFF;
}

@font-face {
  font-family: 'roboto';
  src: url('../fonts/Roboto-Light.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-FEFF;
}

@font-face {
  font-family: 'roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-FEFF;
}

@font-face {
  font-family: 'roboto';
  src: url('../fonts/Roboto-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-FEFF;
}

@font-face {
  font-family: 'roboto';
  src: url('../fonts/Roboto-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-FEFF;
}

@font-face {
  font-family: 'roboto';
  src: url('../fonts/Roboto-Black.ttf') format('ttf');
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-FEFF;
}

@font-face {
  font-family: 'roboto';
  src: url('../fonts/Roboto-ThinItalic.ttf') format('ttf');
  font-weight: 200;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+000D-FEFF;
}

@font-face {
  font-family: 'roboto';
  src: url('../fonts/Roboto-LightItalic.ttf') format('ttf');
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+000D-FEFF;
}

@font-face {
  font-family: 'roboto';
  src: url('../fonts/Roboto-Italic.ttf') format('ttf');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+000D-FEFF;
}

@font-face {
  font-family: 'roboto';
  src: url('../fonts/Roboto-MediumItalic.ttf') format('ttf');
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+000D-FEFF;
}

@font-face {
  font-family: 'roboto';
  src: url('../fonts/Roboto-BoldItalic.ttf') format('ttf');
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+000D-FEFF;
}

@font-face {
  font-family: 'roboto';
  src: url('../fonts/Roboto-BlackItalic.ttf') format('ttf');
  font-weight: 800;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+000D-FEFF;
}
